<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitten World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    <h1 class="heading">You did it!</h1>
    <p class="paragraph">You've guessed the number.</p>
    <iframe src="https://giphy.com/embed/a9imQoghMq5IQ" width="480" height="272" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/glee-congratulations-a9imQoghMq5IQ">via GIPHY</a></p>
</body>
</html>
