<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitten World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    <h1 class="heading">Too high</h1>
    <p class="paragraph">Try lower</p>
    <iframe src="https://giphy.com/embed/s1MX7LfOn5nhTyb0dy" width="384" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/TheSherilynShow-twerk-party-time-go-grandma-s1MX7LfOn5nhTyb0dy">via GIPHY</a></p>
</body>
</html>
