<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitten World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    <h1 class="heading">Something went wrong</h1>
    <p class="paragraph">Did your input was between 0 and 9? If not try again in that range please.</p>
    <iframe src="https://giphy.com/embed/I4SEHpagUfSpi" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/weird-something-I4SEHpagUfSpi">via GIPHY</a></p>
</body>
</html>
